.preloader {
    position: absolute;
    z-index: 9999;
    left: 20%;
}

.preloaderBackground {
    position: absolute;
    z-index: 9998;
    background: rgba(155, 148, 148, 0.5);
    width: 100%;
    height: 100%;
}
