.tech {
    margin-left: 10px;
}

.loading {
    margin-left: 170px;
    color: #b4c0cc;
}

.bodyS14 {
    margin-top: 6px;
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
    margin-bottom: 10px;
    padding-bottom: 4px;
}