.container {
    margin-top: 6px;
    border-top: 1px solid #d8cece;

}

.wrapper {

    margin-top: 10px;
    display: flex;
    margin-left: 15px;
    width: 200px;
}

.number {
    display: flex;
    width: 0;
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;

}


